/*
*{
    outline: 1px solid red;
}
*/
h1{
    margin: 0;
}

body{
     font-family:  'webfontregular';
}
.header_logo{
    margin-top: 25px;
    margin-left: 25px;
}
.in_wrapper {
    width: 950px;
    margin: 0 auto;
    padding-right: 5px;
    padding-left: 5px;
}
.wrapper_header .in_wrapper_header_all_site{
    justify-content: start;
}

.wrapper_header .nav_all_site{
    margin-left: 20px;
    margin-right: 138px;
}

.wrapper_header .wrap_enter_all_site{
    padding-right: 19px;
}

.in_wrapper_header{
    display: flex;
    justify-content: space-between;
}

.wrapper_header {
    /*width: 100%;*/
    background-color: #000000;
}

.wrapper_content {
    background-image: url("../img/tint.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 15px;
}

.wrapper_footer {
    background-color: #1f1f1f;
}

.nav {
    display: flex;
    /*justify-content: space-around;*/
    margin-right: 100px;
    /*justify-content:space-around;*/
}

.nav_link {
    color: white;
    text-transform: uppercase;
 
}
a{
    text-decoration: none;
}
.items_nav{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.items_nav_hover:hover{
    background-color: #242424;
}
.items_nav_shop a{


    border-bottom: 5px solid white;
    padding-bottom: 24px;


}
.wrap_enter{
    padding-left: 24px;
    padding-right: 30px;
}
.header_in_picture{
    padding-right: 15px;
}
.wrapper_logo{
    padding-top: 60px;
    text-align: center;

}
.advantages_items{
    color: white;
    display: flex;
    justify-content: space-around;
    padding-bottom: 63px;
}
.advantage_item{
    padding-top: 68px;
    text-align: center;
}
.advantage_titel{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 30px;
}
.advantage_pic{
    display: inline-block;
    padding-top: 10px;
}
.advantage_item_div_text{
    padding-top: 10px;

}
.advantage_text{
    font-size: 13px;
    vertical-align: middle;
}
.news_and_foto{
    background-image: url(../img/background_news_gallary.png);
    color: black;
    display: flex;
    justify-content:start;
    padding-bottom: 50px;
    padding-top: 50px;
}

.button{
    background-color: black;
    color: white;
}
.news{
    border-right: 10px solid ;
    border-image: url("../img/BorderNews.png") 20 80;
/*    box-sizing: border-box;*/
    max-width: 343px;
    padding-left: 80px;
    padding-right: 40px;

}

.foto{
    padding-left: 86px;
    max-width: 306px;
    /*width: 30%;*/
}
.h3_block{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 25px;
}
.news_content{
    font-size: 14px;
    line-height: 23px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
}
.news_date{
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 25px;
}
.news_button{
    margin-top: 7px;

}
.button{
    padding-top:14px;
    padding-bottom: 14px;
    font-size: 14px;
    /*padding-left: 32px;*/
    /*padding-right: 32px;*/
    min-width: 10.3em;
}

.wrapper_slider_button :last-child{
    margin-right: 0;
}

.slider{
border: 7px solid white;
}
.button_slider{
    margin-right: 14px;
}
.wrapper_slider_button{

    padding-top: 24px;

}
.contact_and_reserve{
    background-image: url(../img/background_news_gallary.png);
    color: black;
    display: flex;
    justify-content:start;
    padding-bottom: 51px;
    padding-top: 46px;
    margin-top: 33px;
}
.contact{
    border-right: 10px solid ;
    border-image: url("../img/BorderNews.png") 20 80;
/*    box-sizing: border-box;*/
     min-width: 343px;
    padding-left: 80px;
    padding-right: 40px;
}

.reserve{
    padding-left: 86px;
    max-width: 306px;
    /*width: 30%;*/
}
.contact_content{
    padding-bottom: 25px;
}
.contact_button{
    margin-right: 7px;
}
#formReserve{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.client_input_enter{
    box-sizing: border-box;
    border: 1px solid black;
    padding-top:11px;
    padding-bottom: 11px;
    padding-left: 13px;
    max-width: 8.5em;
    margin-top: 9px;
    /*margin-right: 21px;*/
    /*background-color: #00b3ff*/
    /*font-size: 14px;*/
    /*padding-left: 32px;*/
    /*padding-right: 32px;*/
    /*min-width: 10.3em;*/
}
.client_input{
    padding-top: 10px;
    padding-right: 5px;
}

form .client_input:nth-child(even){
    padding-right: 10px;

}
.submit{
    padding-right: 8px;
    padding-top: 25px;
}

.client_input_submit{
    display: block;
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    
}

label{
    margin-left: 13px;
    font-size: 14px;
}

.advantages_items .advantage_item:nth-child(2) {
    padding-left: 26px;
}
.wrapper_footer{
    color: white;
}
.footer_in_wrapper{
    display: flex;
    justify-content: space-between;
}

.content_in_wrapper{
  margin-bottom: 50px;  
}

.wrapper_footer{
    padding-top: 49px;
    font-size: 13px;
}
.footer_social{
    margin-right: 146px;
    
}


body .wrapper_content_shop{
    background-image: url(../img/background_news_gallary.png);
}
.shop_items{
    background-color: black;
}

.path_and_links{
    display: flex;
    justify-content:flex-start;
}

.path_and_links_item_a{
    color: black;
}