* {
    outline: 1px solid red;
    
}

body{
     font-family:  'webfontregular';
}

.in_wrapper {
    width: 950px;
    margin: 0 auto;
}

.in_wrapper_header{
    display: flex;
}

.wrapper_header {
    background-color: #000000;
}

.wrapper_content {
    background-image: url("../img/tint.png");
}

.wrapper_footer {
    background-color: #1f1f1f;
}

.nav {
    display: flex;
    /*justify-content:space-around;*/
}

.nav_link {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: uppercase;
 
}
.items_nav{
    padding-bottom: 30px;
    padding-top: 30px;
}